<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyan.bank.dao.PersonDao">

    <resultMap id="personResultMap" type="com.liyan.bank.pojo.Person">
        <result column="home_position" property="homePosition"/>
    </resultMap>

    <insert id="insert">
        insert into t_person(id,name,home_position) values(#{id},#{name},#{homePosition})
    </insert>
    <update id="update">
        update t_person set `name` = #{name},home_position = #{homePosition},id = #{id}
    </update>
    <delete id="deleteById">
        delete from t_person where id = #{id}
    </delete>
    <select id="selectById" resultType="com.liyan.bank.pojo.Person">
        select
            `name`,
            id,
            home_position as homePosition
        from t_person where id = #{id}
    </select>
    <select id="selectAll" resultType="com.liyan.bank.pojo.Person">
        select
            `name`,
            id,
            home_position as homePosition
        from t_person
    </select>

    <insert id="insertBatch">
        insert into t_person (id,name,home_position)values
        <foreach collection="persons" item="person" separator=",">
            <if test="person != null">
               (null,#{person.name},#{person.homePosition})
            </if>
        </foreach>
    </insert>

    <select id="selectAllByResultMap" resultMap="personResultMap">
        select *
        from t_person
    </select>

</mapper>